<div class="bg-light d-flex flex-column align-items-center" style="height: 100vh;">
    <div style="max-width: 400px; width: 100%;" class="mt-5">
        <div class="card shadow-lg rounded-3">
            <div class="card-header text-white bg-primary text-center">
                <h4 class="mb-0">Error</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text fs-5 text-dark mb-4">An unexpected error occurred. Please try again later.</p>
            </div>
        </div>
    </div>
</div>
