@model EventDetailVM

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update EventDetail</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <input hidden asp-for="EventDetail.Id" />
            <div class="p-3">
                <div class="form-floating py-1 col-12">
                    <select asp-for="@Model.EventDetail.EventId" disabled asp-items="@Model.EventDetailList"
                            class="form-select border shadow">
                        <option disabled selected>--Select Villa--</option>
                    </select>
                    <label asp-for="EventDetail.EventId" class="ms-2"></label>
                    <span asp-validation-for="EventDetail.EventId" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="EventDetail.Name" readonly class="form-control border shadow" />
                    <label asp-for="EventDetail.Name" class="ms-2"></label>
                    <span asp-validation-for="EventDetail.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="EventDetail.Description" readonly class="form-control border shadow" />
                    <label asp-for="EventDetail.Description" class="ms-2"></label>
                    <span asp-validation-for="EventDetail.Description" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-check-circle"></i> Delete
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="EventDetail" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
